<div class="container-fluid">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li ng-class="{active: $index == 0}" ng-repeat="category in $ctrl.categories | limitTo:5:catIndex"><a href="#{{category.urlName}}" role="tab" data-toggle="tab">{{category.name}}</a></li>
                        <div ng-show="$ctrl.categories.length>=5">
                        <button type="submit" class="btn btn-default btn-xs glyphicon glyphicon-plus" ng-click="catIndex =+5"/>
                        <button type="submit" class="btn btn-default btn-xs glyphicon glyphicon-minus" ng-click="catIndex =-5"/>
                        </div>
                    <div class="text-right">
                        <input ng-model="$ctrl.newCategory.name" placeholder="New Category" />
                        <button type="submit" class="btn btn-primary btn-sm" ng-click="$ctrl.createCategory()">Add</button>
                    </div>
 
                    </ul>
                </div>
                <div class="panel-body">

                    <!--Body content-->

                    <div class="tab-content">
                        <div class="tab-pane fade in" ng-class="{active: $index == 0}" ng-repeat="category in $ctrl.categories" id="{{category.urlName}}">
                            <ul class="routines list-unstyled">
                                <li ng-repeat="routine in $ctrl.routines | filter:category._id">
                                <input type="checkbox" ng-model="routine.checked" ng-click="$ctrl.checkRoutine(routine._id, routine.checked)"> 
                                <span ng-show="!showModifier">
                                    <span class="checked-{{routine.checked}}" ng-click="routine.checked=!routine.checked;$ctrl.checkRoutine(routine._id, routine.checked)">{{routine.description}}</span>
                                    <button class="btn btn-default btn-xs glyphicon glyphicon-pencil" ng-click="confirmRemove = !confirmRemove" aria-hidden="true" ng-show="!confirmRemove"/>
                                        <div class="btn-group btn-group-xs" ng-show="confirmRemove">
                                        <button class="btn btn-warning" ng-click="showModifier = !showModifier">Modify</button>
                                        <button class="btn btn-danger" ng-click="$ctrl.removeRoutine(routine._id)">Remove</button>
                                        <button class="btn btn-primary" ng-click="confirmRemove = !confirmRemove">Cancel</button>
                                    </div>
                                    </span>
                                    <span ng-show="showModifier">
                                        <input ng-model="$ctrl.modifiedRoutine.description" placeholder="{{routine.description}}" />
                                        <div class="btn-group btn-group-xs">
                                            <button type="submit" class="btn btn-warning" ng-click="$ctrl.modifyRoutine(routine._id)">Modify</button>
                                            <button type="submit" class="btn btn-primary" ng-click="showModifier = !showModifier">Cancel</button>
                                        </div>
                                    </span>
                                    </li>
                                </ul>
                                <p>
                                Insert new routine in {{category.name}} category:
                                <input ng-model="$ctrl.newRoutine.description" placeholder="Write your new routine" />
                                <button type="submit" class="btn btn-primary btn-sm" ng-click="$ctrl.createRoutine(category._id)">Add</button>
                                <button type="submit" class="btn btn-danger btn-sm pull-right" ng-click="$ctrl.removeCategory(category._id)">Remove {{category.name}} category</button>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
